@import url(https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    font-family: Manrope,sans-serif;
}


.container {
    width: 1300px;
    max-width: 100%;
    margin: auto;
}




nav{
    width: 100%;
    max-width: 100%;
    background-color: #000;
    padding: 2.2rem;
    z-index: 1;
}


.nav-bar {
    display: flex;
    width: 100%;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav-bar img{
    width: 120px;

}

.nav-bar ul {
    display: flex;
    gap: 15px;
}

.nav-bar ul li {
    list-style: none;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.4s;
    color: #ffffff;
    padding-top: 7px;
}

ul li:hover {
    color: #d97e4a;
}

ul li.active {
    color: #d97e4a;
}

.humburger-menu {
    display: flex;
    gap: 20px;
    cursor: pointer;

}

.fa-bars{
    display: none;
}


.humburger-menu .fa{
    color: white;
    font-size: 24px;
}


.mobile{
    padding: 2.2rem;
    width: 100%;
    max-width: 100%;
    background-color: #000000;
    display: none;
}




.mobile-menu {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}



.l-g{
    width: 30%;
    max-width: 100%;
    background-color: rgb(228, 228, 228);
    box-shadow: -1px 1px 3px 0px #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 140px;
    border-radius: 8px;
    gap: 10px;
}

.headphones img {
    width: 170px;
    position: absolute;
    top: 6.5rem;
    transition: all 0.5s;
    
}


.text{
    padding-top: 30px;
    text-transform: uppercase;
}


.shop {
    display: flex;
    align-items: center;
    gap: 4px;
}

.shop-p{
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    transition: all .12s ease; 
    padding-top: 3px;
}

.shop .fa-arrow-right{
    color: #2e2e2e;
    font-size: small;
    transition: 0.4s;
    cursor: pointer;
}

.shop .fa-arrow-right:hover{
    color: #d97e4a;
}

.speakers img {
    width: 120px;
    position: absolute;
    top: 5.8rem;
    
}



.earphones img {
    width: 170px;
    position: absolute;
    top: 6.5rem;
}


.hero{
    width: 100%;
    max-width: 100%;
    background-color: #191919;
    padding: 7rem;
    margin-bottom: 10rem;
}

.hero__component {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
 
}


.hero__component-text{
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

#hero-title{
    color: hsla(0,0%,100%,.5);
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 10px;
    line-height: 1.9rem;
}

.hero-h1{
    font-size: 4.6rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 5.8rem;
    text-transform: uppercase;
    color: #ffffff;
}

#hero-inf {
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
    color: #ffffff;
    margin-bottom: 3rem;
}

.hero-btn{

    align-items: center;
    background-color: #d97e4a;
    text-decoration: none;
    border: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    height: 2.8rem;
    justify-content: center;
    letter-spacing: 1px;
    line-height: 1.8rem;
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
    transition: all .45s ease;
    width: 12rem;
}





.hero-btn:hover{
    background-color: #f09e6f;
}

.hero__component-img{
    width: 100%;
}

.hero__component-img img {
    width: 100%;
}


.log-3 {
    display: flex;
    width: 100%;
    max-width: 100%;
    justify-content: space-between;
    margin-bottom: 200px;
    padding: 10px;
}

.marshall-aud{
    padding: 20px;
}

.head {
    position: relative;
    width: 30%;
    max-width: 100%;
    background-color: rgb(228, 228, 228);
    box-shadow: -1px 1px 3px 0px #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    gap: 10px;
    text-transform: uppercase;
}

.head img{
    width: 300px;
    position: absolute;
    top: -7rem;

}

.earp {
    width: 30%;
    max-width: 100%;
    background-color: rgb(228, 228, 228);
    box-shadow: -1px 1px 3px 0px #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    position: relative;
    border-radius: 8px;
    gap: 10px;
    text-transform: uppercase;
    
}

.earp img {
    width: 200px;
    position: absolute;
    top: -3rem;
}

.speak{
    width: 30%;
    max-width: 100%;
    background-color: rgb(228, 228, 228);
    box-shadow: -1px 1px 3px 0px #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 8px;
    gap: 10px;
}

.speak img {
    width: 150px;
    position: absolute;
    top: -5rem;
}


.feature-spk {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #d97e4a;
    margin-bottom: 5rem;
    border-radius: 8px;
}


.feature-spk img {
    width: 50%;
}

.f-s {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    color: #fff;
    margin-right: auto;
    margin-top: 2rem;
    max-width: 25vw;
    padding-right: 4rem;
}

.f-s-h2{
    font-size: 4rem;
}

.f-s span {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
    opacity: .75;
}

.f-s-button{
    align-items: center;
    background-color: #000000;
    border: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    height: 3rem;
    justify-content: center;
    letter-spacing: 1px;
    line-height: 1rem;
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
    transition: all .45s ease;
    width: 12rem;
    border-radius: 5px;
}


.f-s-button:hover{
    background-color: #3d3d3d;
}

.fire{
    width: 100%;
    max-width: 100%;
    border-radius: 8px;

}

.fire img{
    width: 100%;
    border-radius: 8px;
}




@media only screen and (max-width: 1220px) {
    #hero-title{
       font-size: 1rem;
    }
   
    .hero-h1{
       font-size: 4rem;
    }   
}
     
   
   
@media only screen and (max-width: 1120px) {
       
    .hero__component-img img{
        width: 140%;
    }

    .feature-spk{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
       
    .f-s{
        display: none;
    }
}
   





@media only screen and (max-width: 1000px) {
    .hero__component{
        display: flex;
        flex-direction: column;
        align-items: center;
    }   
  

    .hero__component-text{
        display: flex;
        align-items: center;
    }

    .hero__component-img img{
        width: 100%;
    }
       
}
   



@media only screen and (max-width: 820px) {
     
    .head{
        height: 150px;
    }

    .head img {
        width: 220px;
        top: -5rem;
    }
    .speak{
        height: 150px;
    }

    .speak img {
        width: 150px;
        top: -6rem;
    }

    .earp{
        height: 150px;
    }

    .earp img {
        width: 200px;
        top: -4rem;
    }
}









@media only screen and (max-width: 720px) {
    ul li{
        display: none;
    }

    .fa-bars{
        display: flex;
        padding-top: 2px;
    }

    .mobile.active{
        display: flex;
    }

    
}
  




@media only screen and (max-width: 550px) {
  .log-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
  }

  .head{
    width: 100%;
    max-width: 100%;
    height: 200px;
  }
    
  .speak{
    width: 100%;
    max-width: 100%;
    height: 200px;
  }

  .earp{
    width: 100%;
    max-width: 100%;
    height: 200px;
  }

  .hero-h1{
    font-size: 3rem;
    line-height: 3rem;
  }

  .hero__component-text{
    width: 100%;
    max-width: 100%;
  }
}
  




a{
    list-style: none;
    color: white;
    text-decoration: none;
}
.footer2{
    display: none;
}
.footer{
    width: 100%;
    background-color: #101010;
    margin-top: 74px;
}
.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2.5rem;
    margin: 0 4rem;
}
.footer-group1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}
.footer-image{
    width: 10rem;
    height: 2.64rem;
    margin-bottom: 3.6rem;
}
.footer-text{
    color: gray;
    width: 400px;
    text-align: start;
    margin-bottom: 50px;
    line-height: 23px;
}
.footer-copyright{
    color: gray;
    font-weight: 600;
    padding-bottom: 34px;
}
.footer-group2{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 100px;
}
.footer-links{
    color: #fff;
    display: flex;
    gap: 1.3rem;
    list-style: none;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 13px;
}
.footer-item{
    cursor: pointer;
}
.footer-item:hover{
    color: #d97e4a;
    transition: .3s;
}
.linkedin-color:hover{
    color: #d97e4a;
    transition: .3s;
}
.footer-icons{
    color: #fff;
    font-size: 30px;
    gap: 35px;
    display: flex;
}

      /* ჰეადფოუნის გვერდის სტილები */

.Headphones{
    background-color: #000;
    width: 100%;
    height: 300px;
}
.Head-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#Head-title{
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 4.4rem;
    color: white;
}


.Headphones-images-main{
    width: 100%;
    height: auto;
    margin-top: 16rem;
}
.Headphones-images-container{
    padding-left: 20px;
    padding-right: 20px;
}
.Headphones-img-div-1{
    width: 441.800px;
}
.Headphones-group-1{
    display: flex;
    justify-content: center;
    gap: 9rem;
    margin-bottom: 10rem;

}
.Headphones-img-texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 381.8px;
}
.Headphones-img-1{
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 8px;
}
#Headphones-title{
    font-size: 3rem;
    margin-bottom: 2.1999999999999993rem;
    font-weight: 550;
}
#Headphones-description{
    width: 100%;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    opacity: .75;
}

.selection-info-main{
    width: 100%;
    height: 73vh;
    display: flex;
}
.selection-info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 88px;
    padding-left: 20px;
    padding-right: 20px;
}
.selection-texts{
    display: flex;
    flex-direction: column;
    width: 30rem;
}
.selection-div-image{
    width: 400px;
    height: 550px;
    display: flex;
}
.selection-image{
    width: 100%;
    height: auto;
    border-radius: 8px;

}
.selection-title{
    margin-bottom: 3.2rem;
    font-size: 2rem;
    width: 9cm;
}
.selection-description{
    width: 100%;
    font-size: 16px;
    line-height: 1.8rem;
    opacity: .75;
}
#selection-title-text{
    color: #d97e4a;
}




@media screen and (max-width:1025.60px) {
    *{
        text-align: center;
    }
.Headphones-group-1 {
    flex-direction: column;
    gap: 0px;
    align-items: center;
    margin-bottom: 8rem; 
}
.Headphones-img-texts{
    padding-top: 40px;
}
.Headphones-group-2{
    flex-direction: column-reverse;
}
.selection-info-main{
    height: 112vh;
}
.selection-info-container{
    flex-direction: column-reverse;
}
.selection-texts{
    align-items: center;
}


}

@media screen and (max-width:530px) {
    .selection-texts{
        width: 100%;
    }
    .Headphones-img-texts{
        width: 100%;
    }
    .Headphones-img-div-1{
        width: 300px;
    }
    #Headphones-title{
        font-size: 2rem;
        width: 228px;
    }
    .selection-info-main{
        height: 87vh;
    }
    .selection-div-image{
        width: 300px;
        height: 304px;
    }
    .selection-title{
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
    .selection-info-container{
        gap: 43px;
    }
    .selection-description{
        font-size: 14px;
        line-height: 1.4rem;
    }
}

@media screen and (max-width:400px) {
    .Headphones-img-div-1{
        width: 250px;
    }
    .selection-div-image{
        width: 250px;
        height: 250px;
    }
    #Headphones-title{
        font-size: 25px;
    }
    .Headphones-img-texts{
        padding-top: 20px;
    }
    #Headphones-description{
        font-size: 13px;
    }
    .Headphones-group-1 {
        margin-bottom: 6rem; 
    }
    #Head-title{
        font-size: 1.8rem;
    }
}

        /* სპიკერის გვერდის სტილები */

        .Speakers{
            background-color: #000;
            width: 100%;
            height: 300px;
        }
        .speaker-container{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }
        #speaker-title{
            font-size: 2.5rem;
            font-weight: 700;
            letter-spacing: 1.5px;
            line-height: 4.4rem;
            color: white;
        }

        .Speakers-images-main{
            width: 100%;
            height: auto;
            margin-top: 16rem;
        }
        .Speakers-images-container{
            padding-left: 20px;
            padding-right: 20px;
        }
        .Speakers-img-div-1{
            width: 441.800px;
        }
        .Speakers-group-1{
            display: flex;
            justify-content: center;
            gap: 9rem;
            margin-bottom: 10rem;
        
        }
        .Speakers-img-texts{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 381.8px;
        }
        .Speakers-img-1{
            width: 100%;
            height: auto;
            max-width: 100%;
            border-radius: 8px;
        }
        #Speakers-title{
            font-size: 3rem;
            margin-bottom: 2.1999999999999993rem;
            font-weight: 550;
        }
        #Speakers-description{
            width: 100%;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
            opacity: .75;
        }

        .Speakers-info-main{
            width: 100%;
            height: 73vh;
            display: flex;
        }
        .Speakers-info-container{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 88px;
            padding-left: 20px;
            padding-right: 20px;
        }
        .Speakers-texts{
            display: flex;
            flex-direction: column;
            width: 30rem;
        }
        .Speakers-div-image{
            width: 400px;
            height: 550px;
            display: flex;
        }
        .Speakers-image{
            width: 100%;
            height: auto;
            border-radius: 8px;
        
        }
        .Speakers-title{
            margin-bottom: 3.2rem;
            font-size: 2rem;
            width: 9cm;
        }
        .Speakers-description{
            width: 100%;
            font-size: 16px;
            line-height: 1.8rem;
            opacity: .75;
        }
        #Speakers-title-text{
            color: #d97e4a;
        }
        
        
        
        
        @media screen and (max-width:1025.60px) {
            *{
                text-align: center;
            }
        .Speakers-group-1 {
            flex-direction: column;
            gap: 0px;
            align-items: center;
            margin-bottom: 8rem; 
        }
        .Speakers-img-texts{
            padding-top: 40px;
        }
        .Speakers-group-2{
            flex-direction: column-reverse; 
        }
        .Speakers-info-main{
            height: 112vh;
        }
        .Speakers-info-container{
            flex-direction: column-reverse;
        }
        .Speakers-texts{
            align-items: center;
        }
        
        
        }
        @media screen and (max-width:935px) {

        }
        
        @media screen and (max-width:530px) {
            .Speakers-texts{
                width: 100%;
            }
            .Speakers-img-texts{
                width: 100%;
            }
            .Speakers-img-div-1{
                width: 300px;
            }
            #Speakers-title{
                font-size: 2rem;
                width: 228px;
            }
            .Speakers-info-main{
                height: 87vh;
            }
            .Speakers-div-image{
                width: 300px;
                height: 304px;
            }
            .Speakers-title{
                font-size: 1.5rem;
                margin-bottom: 2rem;
            }
            .Speakers-info-container{
                gap: 43px;
            }
            .Speakers-description{
                font-size: 14px;
                line-height: 1.4rem;
            }
        }
        
        @media screen and (max-width:400px) {
            .Speakers-img-div-1{
                width: 250px;
            }
            .Speakers-div-image{
                width: 250px;
                height: 250px;
            }
            #Speakers-title{
                font-size: 25px;
            }
            .Speakers-img-texts{
                padding-top: 20px;
            }
            #Speakers-description{
                font-size: 13px;
            }
            .Speakers-group-1 {
                margin-bottom: 6rem; 
            }
            #Speakers-title{
                font-size: 1.8rem;
            }
        }


                /* ყურსასმენის სტილები */


.Earphones{
    background-color: #000;
    width: 100%;
    height: 300px;
}
.Earphone-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#Earphone-title{
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 4.4rem;
    color: white;
}


.Earphone-images-main{
    width: 100%;
    height: auto;
    margin-top: 16rem;
}
.Earphone-images-container{
    padding-left: 20px;
    padding-right: 20px;
}
.Earphone-img-div-1{
    width: 441.800px;
}
.Earphone-group-1{
    display: flex;
    justify-content: center;
    gap: 9rem;
    margin-bottom: 10rem;

}
.Earphone-img-texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 381.8px;
}
.Earphone-img-1{
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 8px;
}
#Earphones-title{
    font-size: 3rem;
    margin-bottom: 2.1999999999999993rem;
    font-weight: 550;
}
#Earphone-description{
    width: 100%;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    opacity: .75;
}

.Earphone-info-main{
    width: 100%;
    height: 73vh;
    display: flex;
}
.Earphone-info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 88px;
    padding-left: 20px;
    padding-right: 20px;
}
.Earphone-texts{
    display: flex;
    flex-direction: column;
    width: 30rem;
}
.Earphone-div-image{
    width: 400px;
    height: 550px;
    display: flex;
}
.Earphone-image{
    width: 100%;
    height: auto;
    border-radius: 8px;

}
.Earphone-title{
    margin-bottom: 3.2rem;
    font-size: 2rem;
    width: 9cm;
}
.Earphone-description{
    width: 100%;
    font-size: 16px;
    line-height: 1.8rem;
    opacity: .75;
}
#Earphone-title-text{
    color: #d97e4a;
}




@media screen and (max-width:1025.60px) {
    *{
        text-align: center;
    }
.Earphone-group-1 {
    flex-direction: column;
    gap: 0px;
    align-items: center;
    margin-bottom: 8rem; 
}
.Earphone-img-texts{
    padding-top: 40px;
}
.Earphone-group-2{
    flex-direction: column-reverse; 
}
.Earphone-info-main{
    height: 112vh;
}
.Earphone-info-container{
    flex-direction: column-reverse;
}
.Earphone-texts{
    align-items: center;
}
.footer{
    display: none;
}
.footer2{
    display: block;
    width: 100%;
    background-color: #101010;
    margin-top: 74px;
}
.footer-links{
    padding-bottom: 34px;
}
.footer-text{
    width: 100%;
}
.footer-container{
    padding-bottom: 2.5rem;
}
.footer-group2{
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.footer-copyright{
    padding: 0;
}

}

@media screen and (max-width:530px) {
    .Earphone-texts{
        width: 100%;
    }
    .Earphone-img-texts{
        width: 100%;
    }
    .Earphone-img-div-1{
        width: 300px;
    }
    #Earphone-title{
        font-size: 2rem;
        width: 228px;
    }
    .Earphone-info-main{
        height: 87vh;
    }
    .Earphone-div-image{
        width: 300px;
        height: 304px;
    }
    .Earphone-title{
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
    .Earphone-info-container{
        gap: 43px;
    }
    .Earphone-description{
        font-size: 14px;
        line-height: 1.4rem;
    }
}

@media screen and (max-width:400px) {
    .Earphone-img-div-1{
        width: 250px;
    }
    .Earphone-div-image{
        width: 250px;
        height: 250px;
    }
    #Earphone-title{
        font-size: 25px;
    }
    .Earphone-img-texts{
        padding-top: 20px;
    }
    #Earphone-description{
        font-size: 13px;
    }
    .Earphone-group-1 {
        margin-bottom: 6rem; 
    }
    #Earphone-title{
        font-size: 1.8rem;
    }
}

@media screen and (max-width:620px) {
   .footer-links{
        flex-direction: column;
    }
    .footer-group1{
        align-items: center;
    }
    .footer-text{
        text-align: center;
    }
    .footer-group2{
        flex-direction: column;
        gap: 26px;
    }
    .footer-icons{
        gap: 30px;
    }
    .footer-copyright{
        font-size: 14px;
    }
}   